

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(../asssets/img/abstract-geometric-flat-design-background-free-vector.jpg);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    height: 400px;
    width: 400px;
    margin-right: 8px;
}

.header-title {
    color: red;
    margin-left: 8px;
}

.content {
    align-items: center;
    font-weight: 800;
    width: 50%;
    margin: 16px 20%;
    padding: 4px 4px;
    font-size: 1.4rem;
    color: rgb(194, 19, 19)
}

